body {
    background-color:rgb(228, 134, 100);
    font-family: "Inter";
    font-weight: 600;
    font-size: 16px;
  }
  
.flex-wrapper 
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-container 
{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#content
{
    position: absolute;
    width: 100%;
    height: 100%;
}

.headlines
{
    text-align: center;
    font-size: 64px;
    color: antiquewhite;
    margin-bottom: 30px;
}

input
{
    font-family: "Inter";
}

.input-form 
{
    margin-top: 10px;
    background-color:bisque;
    max-width: 700px;
    padding: 3% 2%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 5%;
}

.user-form
{
    margin-top: 10px;
    background-color:bisque;
    padding: 3% 2%;
    display: flex;
    gap: 10px;
    border-radius: 5%;
    margin: 0% 10%;
}

.user-photo
{
    max-width: 50%;
    max-height: 50%;
}

.user-info
{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.input-label
{
    font-size: 32px;
}

.input-data
{
    font-size: 24px;
}

.button
{
    background-color:rgb(202, 105, 70);
    width: 80%;
    font-size: 24px;
    color:aliceblue;
    padding: 10px 0;
    margin-top: 5%;
    margin-left: 10%;
    border-radius: 7%;
    font-family: "Inter";
}

.wrapper__button
{
    background-color:rgb(202, 105, 70);
    width: 80%;
    font-size: 24px;
    color:aliceblue;
    padding: 10px 0;
    border-radius: 7%;
    font-family: "Inter";
}

.wild
{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
}

.small
{
    width: 150px;
    height: 100px;
}

#button-profile
{
    margin-top: 9%;
}

.links
{
    text-decoration: none;
    outline: none;
    font-size: 24px;
    color:aliceblue;
    font-family: "Inter";
}

.cards
{
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 2%;
    gap: 20px;
}

#card
{
    background-color: burlywood;
    padding: 1%;
    border-radius: 3%;
}

#card:hover
{
    transform: scale(0.95);
    background-color: rgb(177, 146, 106);
}

.card__photo
{
    min-width: 300px;
    min-height: 300px;
    border-radius: 4%;
}

.card__description
{
    max-width: 300px;
    height: 60px;
}

.product
{
    display: flex;
    justify-content: center;
    gap: 15px;
}

.product__info
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.title
{
    text-align: center;
    font-size: 60px;
    color: black;
    margin-bottom: 30px;
}

.subtitle
{
    text-align: center;
    font-size: 32px;
    color:darkred;
    margin-bottom: 30px;
}

.preparing
{
    width: 40%;
}

.distraction 
{
    display: flex;
    justify-content: center;
    opacity: 70%
}

.wrapper
{
    display: flex;
    justify-content: center;
}