{% extends "base.html.twig" %}
{% block title %}Products{% endblock %}
{% block content %}
<h1 class="headlines">What's your mood today?</h1>   
<div class="cards">
    {% for product in product_list %}
        {% include "assortment/productCard.html.twig" with product %}
    {% endfor %}
</div>    
<footer class="footer">
    <div class="container flex-wrapper">
        <div class="footer__navigation flex-wrapper">
            <div class="footer__navigation-item">
                <a href="#!">О компании</a>
                <a href="#!">Пользовательское соглашение</a>
                <a href="#!">Условия гарантии</a>
            </div>
            <div class="footer__navigation-item">
                <a href="#!">Ресторан</a>
                <a href="#!">Контакты</a>
                <a href="#!">Отследить заказ</a>
            </div>
            <div class="footer__navigation-item">
                <h3 class="footer__title">Контакты</h3>
                <a class="flex-wrapper" href="#!">
                    <p>+7 (926) 223-10-11</p>
                </a>
                <a class="flex-wrapper" href="#!">
                    <p>Москва, ул. Юных Ленинцев, д.99</p>
                </a>
            </div>
        </div>
    </div>
  </footer>
{% endblock %}