{% extends "base.html.twig" %}
{% block title %}Products{% endblock %}
{% block content %}
<div class="flex-container">
    <h1 class="headlines">Какое настроение у вас сегодня?</h1> 
    <a class="links" href="{{ path('view_user') }}">
        <button type="button" class="button small">Профиль</button>  
    </a>
</div>
<div class="cards">
    {% for product in product_list %}
        {% include "assortment/productCard.html.twig" with product %}
    {% endfor %}
</div>    
{% endblock %}