{% extends "base.html.twig" %}
{% block title %}Gratitude{% endblock %}
{% block content %}
<h1 class="headlines">Миллион благодарностей за покупку! Уже начали готовить ...</h1> 
<div class="wrapper">    
    <img class="preparing" src="/gratitude.gif">
</div>    
{% endblock %}